<html>
  <head>
    <title>Todo App</title>
    <style>
      .hidden {
        display: none;
      }
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        width: 300px;
      }
      li {
        clear: both;
      }
      .del-button {
        /* -webkit-appearance: none; */
        border: none;
        outline: none;
        background-color: transparent;
        color: red;
        float: right;
        cursor: pointer;
        font-size: 20px;
      }
    </style>
  </head>
  <body>
    <form id="form" method="post" action="/todos/create">
      <input type="text" id="description" name="description" />
      <input type="submit" value="Create" />
    </form>
    <div id="error" class="hidden">Something went wrong!</div>
    <ul id="todos">
      {% for d in data %}
      <li><input class="check-status" data-id="{{ d.id }}" type="checkbox" {% if d.completed %} 
        checked {% endif %} /> {{ d.description }}
      <button class="del-button" data-id="{{ d.id }}">&cross;</button>
      </li>
      {% endfor %}
    </ul>
    <script>
      document.getElementById('form').onsubmit = function(e) {
        e.preventDefault();
        fetch('/todos/create', {
          method: 'POST',
          body: JSON.stringify({
            'description': document.getElementById('description').value,
          }),
          headers: {
            'Content-Type': 'application/json',
          }
        })
        .then(function(response) {
          return response.json();
        })
        .then(function(jsonResponse) {
          console.log('response', jsonResponse);
          const liItem = document.createElement('li');
          const checkbox = document.createElement('input');
          checkbox.className = "check-status";
          checkbox.type = 'checkbox';
          checkbox.setAttribute('data-id', jsonResponse.id)
          liItem.appendChild(checkbox);
          const descText = document.createTextNode(' ' + jsonResponse.description);
          liItem.appendChild(descText);
          const delButton = document.createElement('button');
          delButton.className = 'del-button';
          delButton.setAttribute('data-id', jsonResponse.id);
          delButton.innerHTML = '&cross;';
          liItem.appendChild(delButton);
          document.getElementById('todos').appendChild(liItem);
          document.getElementById('error').className = 'hidden';
        })
        .catch(function() {
          document.getElementById('error').className = '';
        })
      }
      document.body.addEventListener('change', (e) => {
        if (event.target.className === 'check-status') {
          console.log('event', e);
          const newCompleted = e.target.checked;
          const todoId = e.target.dataset['id'];
          fetch('/todos/' + todoId + '/set-completed', {
            method: 'POST',
            body: JSON.stringify({
              'completed': newCompleted
            }),
            headers: {
              'Content-Type': 'application/json'
            }
          })
          .then(function() {
            document.getElementById('error').className = 'hidden';
          })
          .catch(function() {
          document.getElementById('error').className = '';
          });
        }      
    }, false);
      

    document.body.addEventListener('click', (e) => {
      if (event.target.className === 'del-button') {
        console.log('event', e);
        const todoId = e.target.dataset['id'];
        fetch('/todos/' + todoId, {
          method: 'DELETE'
        })
        .then(function(){
          const item = e.target.parentElement;
          item.remove();
        });
      }
    }, false);

    </script>
  </body>
</html>